body {
    background-color: aquamarine;
}

#game-data {
    height: 250px;
}

#name-input {
    width: 80px;
}

#player-one {
    height: 250px;
}

#player-two {
    height: 250px;
}

.jumbotron {
    height: 50px !important;
}

.display-3 {
    line-height: 0;
}

#chat-output {
    width: 350px !important;
    background-color: white;
    height: 150px;
    overflow-y: scroll;
}
#chat-parent {
    width: 100%;
    background-color: lightgray;
}


